@media(min-width:760px) {
.container1{
display: flex;/*
align-items: stretch;
flex-direction: column;
*/}
.container2{
  display: flex;
  justify-content: space-between;
}
}
.container3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container1 div, .container2 div, .container3 div{
border: 1px #ccc solid;
padding: 10px;
}



.box1{
  flex: 2;
  order: 2;
}
.box2{
  flex: 1;
  order: 1;
}
.box3{
  flex: 1;
  order: 3;
}
 .container2box{
   flex-basis: 27%;
 }
 .container3box{
   flex-basis: 10%;

 }
