body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #1c2237 ;
		}
        .logo{
            color: #ffe9ec;
            padding: 10px;
            font-size: 2.8rem;
            font-weight: bold;
        }
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #ffe9ec;
			position: relative;
			display: grid;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(235, 112, 112, 0.788), 0 6px 20px 0 rgba(235, 112, 112, 0.788);
			-webkit-box-shadow: 0 4px 8px 0 rgba(235, 112, 112, 0.788), 0 6px 20px 0 rgba(235, 112, 112, 0.788);
			-moz-box-shadow: 0 4px 8px 0 rgba(235, 112, 112, 0.788), 0 6px 20px 0 rgba(235, 112, 112, 0.788);
			border-radius: 15px;
			

		}
		.user_position, .first_line{
			display: grid;
			justify-content: center;
		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #5a554e	;
			font-size: 30px;


		}
		.input-group-append{
			padding: 10px;
			border: 0px #ffe9ec;
			
		}
		.login_button{
			display: grid;
			justify-content: center;
			padding: 20px;
		}

		.login_btn {
			width: 100%;
			background: #97c7bf !important;
			color: white !important;
			border: transparent;
			width: 100px;
			border-radius: 20px;
			height: 30px;
		}
		.login_btn:hover{
			width: 150px;
			cursor: pointer;
			transition: 0.25s;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ffe9ec !important;
			color:  #97c7bf!important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px transparent!important;
		}
		.form-control{
			border-radius: 20px;
			border-color: #ccbabc;
			height: 30px;
			border: 0.3px;
			background-color: #e5d1d4; 
			color: #5a554e;
			outline: none;
			-webkit-transition: width .35s ease-in-out;
			transition: width .35s ease-in-out;			
			font-weight:550;

		}
		.form-control:focus{
			width: 200px;
			transition: ease-out 0.5s;
			border: #ccbabc 1px solid;
			background: #fff6f7;

		}
		

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		.issue{
			color: #5a554e;
			font-style:inherit;
			padding: 5px;
		}
		